<body>
  <header class="header">
    <h1 class="header-h1">Сайт Музыкальных инструментов</h1>
    {{> navbar}}
  </header>
  <main>
    <article class="main-block">
      <section class="main-left-block">
        <div>
          <h2>Катергории</h2>
        </div>
        <div>
          <h2>Производители</h2>
        </div>
      </section>
      <section class="main-right-block">
        <h2>Каталог товаров</h2>
        {{#if products.length}}
        <div class="row">
        {{#each products}}
        {{!-- TODO переделать стили под свои --}}
        <div class="col s6 m8 l12 product">
          <div class="card">
            <div class="card-image">
              <img src="{{imgProduct}}" alt="{{modelProduct}}">
            </div>
            <div class="card-content">
              <span class="card-title">{{manufactered}}</span>
              <p class="model">{{modelProduct}}</p>
              <p class="descriptio">{{descriptionGuitar}}</p>
              <p class="price">{{priceProduct}}</p>
            </div>
            <div class="card-action action">
              <a href="/catalog/{{id}}" _target='blank'>Подробнее</a>
              <a href="/catalog/{{id}}/edit?allow=true">Редактировать курс</a>
              <form action="/card/add" method="post">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <button class="btn btn-primary" type="submit">Купить</button>
              </form>
            </div>
            
          </div>
        </div>
        {{/each}}
        </div>
        {{else}}
          <p>Товаров пока нет</p>
        {{/if}}
         
      </section>
    </article>
  </main>
  <footer>
    <h3>Тут будет футер</h3>
  </footer>
</body>