<body>
    {{> header}}
  <main>
    <article class="main-block">
      <section class="main-left-block">
        <div>
          <h2>Катергории</h2>
        </div>
        <div>
          <h2>Производители</h2>
        </div>
      </section>
      <section class="main-right-block">
        <h2>Каталог товаров</h2>
        {{#if products.length}} 
        {{#each products}}
        <div class="row"> 
        {{!-- TODO переделать стили под свои --}}
       
          <div class="col l12 offset-s3 product">      
            <div class="card">
              <div class="card-image">
                <img src="{{imgProduct}}" alt="{{modelProduct}}">
              </div>
              <div class="card-content">
                <span class="card-title">{{manufactered}}</span>
                <p class="model">{{modelProduct}}</p>
                <p class="descriptio">{{descriptionGuitar}}</p>
                <p class='price'>Цена: <span>{{priceProduct}}</span></p>
              </div>
              <div class="card-action action">
                <a href="/catalog/{{_id}}" _target='blank'>Подробнее</a>
                {{#if @root.isAuth}}
                <a href="/catalog/{{_id}}/edit?allow=true">Редактировать курс</a>
                <form action="/cart/add" method="post">
                  <input type="hidden" name="id" id="id" value="{{_id}}">
                  <button class="btn btn-primary" type="submit">Купить</button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
          <p>Товаров пока нет</p>
        {{/if}}
         
      </section>
    </article>
  </main>
  <footer>
    <h3>Тут будет футер</h3>
  </footer>
</body>