<div class='product'>
  <h1>{{product.manufactered}}</h1>
  <img src='{{product.imgProduct}}' alt='{{product.modelProduct}}' />
  <h3>О товаре</h3>
  <p class='model'>{{product.modelProduct}}</p>
  <p class='description'>{{product.descriptionProduct}}</p>
  <p class='price'>Цена: <span>{{product.priceProduct}}</span></p>
</div>